body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  z-index: 99;
  transition: width 0.5s, position 0.5s;
}

.scrolled {
  width: 100vw;
  position: fixed;
  transition: width 0.5s, position 0.5s;
}

.ant-menu-submenu .ant-menu {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}